@import 'masonry';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: #79BD8F;
    -webkit-transition: color 0.2s ease;
       -moz-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
         -o-transition: color 0.2s ease;
            transition: color 0.2s ease;
}

a:hover {
    text-decoration: underline;
    color: #00A388;
}

body {
    background-color: #f8f8f8;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
}

#wrapper {
    width: 100%;
    position: relative;
}

#about-wrapper {
    width: 960px;
    margin: 200px auto 0 auto;
    position: relative;
    text-align: left;
}

.title {
    font-family: "Menlo", Consolas, monospace, serif;
    font-size: 48px;
    font-weight: 700;
    color: #00A388;
    margin-top: 30px;
}

.subtitle {
    font-family: "Menlo", Consolas, monospace, serif;
    font-size: 21px;
    font-weight: 400;
    color: #79BD8F;
    margin-top: 12px;
}

#logo {
    width: 300px;
    height: 300px;
    margin-top: 40px;
}

#icon {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 35px;
    left: 30px;
    padding: 5px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-transition: 0.2s ease;
       -moz-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
         -o-transition: 0.2s ease;
            transition: 0.2s ease;
}

#icon:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#tag {
    position: absolute;
    top: 65px;
    left: 120px;
    font-size: 20px;
    font-family: "Menlo", Consolas, monospace, serif;
    color: #79BD8F;
    display: none;
}

#header {
    width: 100%;
    position: fixed;
    height: 150px;
    top: 0px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 12px #888888;
    z-index: 100;
}

.unit {
    position: relative;
    width: 600px;
    height: 100px;
    background-color: #79BD8F;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    margin: 40px auto;
    box-shadow: 0px 0px 12px #888888;
    transition: box-shadow 0.2s ease;
    box-sizing: border-box;
    border-radius: 6px;

    &#first {
        margin-top: 190px;
    }

    &:hover {
        box-shadow: 0px 0px 24px #888888;
    }

    .mini {
        position: relative;
        text-align: left;
        margin-left: 10px;
        font-size: 21px;
        color: #F1F7E5;
    }

    .event {
        position: relative;
        text-align: left;
        margin-left: 10px;
        font-size: 36px;
        color: #F1F7E5;
    }

    .datebox {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 80px;
        width: 80px;
        padding: 5px;
        box-sizing: border-box;
        background-color: #F1F7E5;
        border-radius: 3px;

        .day {
            position: relative;
            color: #00A388;
            font-size: 36px;
        }

        .month {
            position: relative;
            color: #79BD8F;
            font-size: 22px;
            margin-top: -12px;
        }
    }
}

#menu {
    margin-bottom: 30px;
}

#scrolltop {
    margin-bottom: 30px;
    text-decoration: none;
    color: #79BD8F;
    -webkit-transition: color 0.2s ease;
       -moz-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
         -o-transition: color 0.2s ease;
            transition: color 0.2s ease;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #00A388;
    }
}