.container {
  height: 100vh;
  width: 100vw;
}

.box { 
  font-family: 'Overlock', sans-serif;
  overflow: hidden;
  flex: 0 1 auto;
  position: absolute;
  background-color: #CDEADC;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
}

.handle {
  background-color: #4DEAD4;
  height: 20px;
  cursor: move;
  text-align:center;
}

.content {
  position: relative;
  background-color: inherit;
  width: 100%;
  height: calc(100% - 15px);
}

.clicked {
  width: 30vw;
  height: 30vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#controls {
  position: fixed;
  z-index: 100;
  bottom: -5px;
  margin: 0 auto;
  border-radius: 5px;
  width: 70px;
  height: 50px;
  background-color: #222;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: width 0.2s ease;
}

#controls:hover {
  width: 240px;
  overflow: hidden;
}

#controls .button {
  position: relative;
  margin-left: 22px;
  margin-top: 8px;
  color: #fff;
  font-size: 30px;
}