.octopus {
  overflow: hidden;
  background: #89f7e1;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  height: 100%;
  margin: auto;
}

.octo {
  position: relative;
  width: 20%;
  margin: 0 auto;
  background: #94b6cc;
  border-radius: 60px 60px 0 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 2;
}
.octo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 125%;
  border-radius: 100%;
  box-shadow: #7c9db3 0 0 0 100px;
  -webkit-transform: rotate(15deg) translate(-21%, -11%);
          transform: rotate(15deg) translate(-21%, -11%);
}
.octo:after {
  content: "";
  display: block;
  padding-bottom: 130%;
}
.octo i {
  position: absolute;
  top: 45%;
  display: block;
  width: 7.2%;
  background: #412f1d;
  border-radius: 100%;
}
.octo i:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.octo i:nth-child(1) {
  left: 10%;
}
.octo i:nth-child(2) {
  right: 10%;
}
.octo .mouth {
  position: absolute;
  top: 42%;
  right: 0;
  left: 0;
  margin: auto;
  width: 35%;
  height: 13%;
  background: #412f1d;
  border-radius: 100%;
}
.octo .mouth:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: #94b6cc;
}
.octo .mouth:after {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 25%;
  background: #412f1d;
  border-radius: 60px 60px 0 0;
}

.spot {
  position: absolute;
  width: 20%;
  background: #afc9d9;
  border-radius: 100%;
}
.spot:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.spot:nth-child(4) {
  top: 22%;
  left: -8%;
}
.spot:nth-child(5) {
  top: -2%;
  left: 10%;
}
.spot:nth-child(6) {
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
}
.spot:nth-child(7) {
  top: -2%;
  right: 10%;
}
.spot:nth-child(8) {
  top: 22%;
  right: -8%;
}

.party-hat {
  position: relative;
  width: 8%;
  padding-bottom: 8%;
  background: -webkit-repeating-linear-gradient(300deg, #d8dd60, #d8dd60 13%, #e2e68a 13%, #e2e68a 26%);
  background: repeating-linear-gradient(150deg, #d8dd60, #d8dd60 13%, #e2e68a 13%, #e2e68a 26%);
}
.party-hat:before, .party-hat:after {
  content: "";
  position: absolute;
  top: -35%;
  width: 120%;
  height: 140%;
  background: #89f7e1;
}
.party-hat:before {
  left: 70%;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}
.party-hat:after {
  right: 70%;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
}

.ribbon {
  position: absolute;
  top: 10%;
  left: 54%;
  width: 60%;
  height: 18%;
  background: #ff7952;
  z-index: 2;
  -webkit-transform: rotate(15deg) skew(35deg);
          transform: rotate(15deg) skew(35deg);
}
.ribbon:before {
  content: "";
  position: absolute;
  top: 45%;
  left: 70%;
  background: inherit;
  width: 70%;
  height: 90%;
}
.ribbon:after {
  content: "";
  position: absolute;
  top: 57%;
  left: 125%;
  width: 30%;
  height: 100%;
  background: #89f7e1;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.arms:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120%;
  background: #89f7e1;
  z-index: -1;
}

.arm {
  position: absolute;
  margin: auto;
  width: 6%;
  height: 170%;
  background: #94b6cc;
  border-radius: 100px;
  z-index: -2;
}
.arm:before {
  content: "";
  position: absolute;
  top: -1%;
  width: 100%;
  height: 35%;
  background: #94b6cc;
  border-radius: 100px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.arm:nth-child(1) {
  left: 10.5%;
  bottom: 5%;
  height: 150%;
  -webkit-animation: arm 0.8s ease-in-out alternate infinite;
          animation: arm 0.8s ease-in-out alternate infinite;
}
.arm:nth-child(1):before {
  left: 100%;
}
.arm:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: 88%;
  right: 170%;
  width: 100%;
  height: 25%;
  background: #94b6cc;
  border-radius: 100vw;
  z-index: 2;
}
.arm:nth-child(2) {
  left: 22%;
  bottom: 70%;
  -webkit-animation: arm-2 0.8s ease-in-out alternate infinite;
          animation: arm-2 0.8s ease-in-out alternate infinite;
}
.arm:nth-child(2):before {
  left: 100%;
}
.arm:nth-child(3) {
  right: 22%;
  bottom: 100%;
  -webkit-animation: arm-3 0.8s ease-in-out alternate infinite;
          animation: arm-3 0.8s ease-in-out alternate infinite;
}
.arm:nth-child(3):before {
  left: 300%;
}
.arm:nth-child(4) {
  right: 10.5%;
  bottom: 36%;
  -webkit-animation: arm-4 0.8s ease-in-out alternate infinite;
          animation: arm-4 0.8s ease-in-out alternate infinite;
}
.arm:nth-child(4):before {
  left: 0;
  top: 10%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-animation: arm-extend 2.6s ease-in-out infinite;
          animation: arm-extend 2.6s ease-in-out infinite;
}

.ducky {
  position: absolute;
  bottom: 102%;
  right: 100%;
  width: 225%;
  padding-bottom: 225%;
  background: #ff7953;
  border-radius: 100%;
}
.ducky:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #89f7e1;
}
.ducky .head {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 60%;
  padding-bottom: 60%;
  background: inherit;
  border-radius: 100%;
  z-index: 2;
}
.ducky .head:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 25%;
  height: 25%;
  background: #412f1d;
  border-radius: 100%;
}
.ducky .head:after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%;
  width: 25%;
  height: 25%;
  background: #412f1d;
  border-radius: 100% 0 0 100%;
}
.ducky .hat {
  position: absolute;
  bottom: 83%;
  left: 20%;
  width: 20%;
  height: 25%;
  background: #00b0d3;
  z-index: 1;
}
.ducky .hat:before, .ducky .hat:after {
  content: "";
  position: absolute;
  top: -35%;
  width: 120%;
  height: 140%;
  background: #89f7e1;
}
.ducky .hat:before {
  left: 70%;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}
.ducky .hat:after {
  right: 70%;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
}

.tub {
  position: relative;
  width: 60%;
  border-radius: 0 0 80px 80px;
  background: -webkit-linear-gradient(top, #f2f2f2 10%, white 10%, white);
  background: linear-gradient(to bottom, #f2f2f2 10%, white 10%, white);
  box-shadow: inset #f2f2f2 -18vw 0 0;
}
.tub:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: -5%;
  width: 110%;
  height: 12%;
  background: white;
  border-radius: 100vw;
  z-index: 3;
}
.tub:after {
  content: "";
  display: block;
  padding-bottom: 30%;
}

.tub .leg {
  position: absolute;
  top: 100%;
  height: 18%;
  width: 3.2%;
  background: #939393;
}
.tub .leg:nth-child(1) {
  left: 22%;
}
.tub .leg:nth-child(2) {
  right: 22%;
}

.water {
  position: absolute;
  top: -12%;
  left: 10%;
  width: 32%;
  height: 40%;
  background: #89f7e0;
  z-index: 4;
}

.drip {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: #89f7e0;
  z-index: 1;
}
.drip:before, .drip:after {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  background: inherit;
  border-radius: 0 0 100% 100%;
}
.drip:after {
  top: 60%;
  left: 100%;
  background: white;
  border-radius: 100% 100% 0 0;
}
.drip:nth-child(2) {
  top: 10%;
  left: 40%;
}
.drip:nth-child(2):after {
  top: 60%;
}
.drip:nth-child(3) {
  height: 130%;
  top: 20%;
  left: 80%;
}
.drip:nth-child(3):before {
  top: 80%;
}
.drip:nth-child(3):after {
  display: none;
}

.bubble {
  position: absolute;
  bottom: 92%;
  width: 6%;
  background: white;
  border-radius: 100%;
  z-index: -1;
}
.bubble:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.bubble.left {
  left: 0;
  -webkit-animation: bubble-left 1.8s linear infinite;
          animation: bubble-left 1.8s linear infinite;
}
.bubble.center {
  bottom: 210%;
  left: 40%;
  z-index: 1;
  -webkit-animation: bubble-center 1.8s linear infinite;
          animation: bubble-center 1.8s linear infinite;
}
.bubble.right {
  right: 2%;
  -webkit-animation: bubble-right 2.6s linear infinite;
          animation: bubble-right 2.6s linear infinite;
}

@-webkit-keyframes arm {
  100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

@keyframes arm {
  100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
@-webkit-keyframes arm-2 {
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}
@keyframes arm-2 {
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}
@-webkit-keyframes arm-3 {
  100% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}
@keyframes arm-3 {
  100% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}
@-webkit-keyframes arm-4 {
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}
@keyframes arm-4 {
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}
@-webkit-keyframes arm-extend {
  80% {
    height: 35%;
    transition-origin: 100% 100%;
    -webkit-transform: rotate(-90deg) translateY(0);
            transform: rotate(-90deg) translateY(0);
  }
  90% {
    height: 42%;
    -webkit-transform: rotate(-90deg) translateY(0);
            transform: rotate(-90deg) translateY(0);
  }
  100% {
    height: 35%;
    -webkit-transform: rotate(-90deg) translateY(0);
            transform: rotate(-90deg) translateY(0);
  }
}
@keyframes arm-extend {
  80% {
    height: 35%;
    transition-origin: 100% 100%;
    -webkit-transform: rotate(-90deg) translateY(0);
            transform: rotate(-90deg) translateY(0);
  }
  90% {
    height: 42%;
    -webkit-transform: rotate(-90deg) translateY(0);
            transform: rotate(-90deg) translateY(0);
  }
  100% {
    height: 35%;
    -webkit-transform: rotate(-90deg) translateY(0);
            transform: rotate(-90deg) translateY(0);
  }
}
@-webkit-keyframes bubble-left {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-6px, -24px);
            transform: translate(-6px, -24px);
  }
  20% {
    -webkit-transform: translate(-16px, -36px);
            transform: translate(-16px, -36px);
  }
  30% {
    -webkit-transform: translate(-28px, -40px);
            transform: translate(-28px, -40px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(-40px, -50px);
            transform: translate(-40px, -50px);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: translate(-47px, -60px);
            transform: translate(-47px, -60px);
  }
}
@keyframes bubble-left {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-6px, -24px);
            transform: translate(-6px, -24px);
  }
  20% {
    -webkit-transform: translate(-16px, -36px);
            transform: translate(-16px, -36px);
  }
  30% {
    -webkit-transform: translate(-28px, -40px);
            transform: translate(-28px, -40px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(-40px, -50px);
            transform: translate(-40px, -50px);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: translate(-47px, -60px);
            transform: translate(-47px, -60px);
  }
}
@-webkit-keyframes bubble-center {
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-6px, -24px);
            transform: translate(-6px, -24px);
  }
  60% {
    -webkit-transform: translate(-16px, -36px);
            transform: translate(-16px, -36px);
  }
  70% {
    -webkit-transform: translate(-28px, -40px);
            transform: translate(-28px, -40px);
  }
  80% {
    -webkit-transform: translate(-40px, -50px);
            transform: translate(-40px, -50px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(-46px, -60px);
            transform: translate(-46px, -60px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-47px, -70px);
            transform: translate(-47px, -70px);
  }
}
@keyframes bubble-center {
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-6px, -24px);
            transform: translate(-6px, -24px);
  }
  60% {
    -webkit-transform: translate(-16px, -36px);
            transform: translate(-16px, -36px);
  }
  70% {
    -webkit-transform: translate(-28px, -40px);
            transform: translate(-28px, -40px);
  }
  80% {
    -webkit-transform: translate(-40px, -50px);
            transform: translate(-40px, -50px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(-46px, -60px);
            transform: translate(-46px, -60px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-47px, -70px);
            transform: translate(-47px, -70px);
  }
}
@-webkit-keyframes bubble-right {
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  65% {
    -webkit-transform: translate(6px, -24px);
            transform: translate(6px, -24px);
  }
  70% {
    -webkit-transform: translate(16px, -36px);
            transform: translate(16px, -36px);
  }
  75% {
    -webkit-transform: translate(28px, -60px);
            transform: translate(28px, -60px);
  }
  80% {
    -webkit-transform: translate(40px, -80px);
            transform: translate(40px, -80px);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(46px, -100px);
            transform: translate(46px, -100px);
  }
  90%, 100% {
    opacity: 0;
    -webkit-transform: translate(47px, -120px);
            transform: translate(47px, -120px);
  }
}
@keyframes bubble-right {
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  65% {
    -webkit-transform: translate(6px, -24px);
            transform: translate(6px, -24px);
  }
  70% {
    -webkit-transform: translate(16px, -36px);
            transform: translate(16px, -36px);
  }
  75% {
    -webkit-transform: translate(28px, -60px);
            transform: translate(28px, -60px);
  }
  80% {
    -webkit-transform: translate(40px, -80px);
            transform: translate(40px, -80px);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(46px, -100px);
            transform: translate(46px, -100px);
  }
  90%, 100% {
    opacity: 0;
    -webkit-transform: translate(47px, -120px);
            transform: translate(47px, -120px);
  }
}
